# `pandas.DataFrame.apply`

Odkaz na dokumentaci: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

In [1]:
import pandas
import random

In [2]:
df = pandas.DataFrame({'strings': ['hello', 'ahoj', 'guten tag', 'bonjour'], 'ints': [1,2,3,4], 'floats': [2.4, 13.7, 96.54, 0.32]})
df

     strings  ints  floats
0      hello     1    2.40
1       ahoj     2   13.70
2  guten tag     3   96.54
3    bonjour     4    0.32

Jednoduché operace můžeme aplikovat přímo na série (např. na sloupce):

In [3]:
df['ints'] * 2

0    2
1    4
2    6
3    8
Name: ints, dtype: int64

In [4]:
df['strings'] + "!"

0        hello!
1         ahoj!
2    guten tag!
3      bonjour!
Name: strings, dtype: object

V některých případech můžeme na sérii zavolat i zabudovanou funkci Pythonu:

In [5]:
round(df['floats'])

0     2.0
1    14.0
2    97.0
3     0.0
Name: floats, dtype: float64

Velké množství funkcí a metod nám nabízí přímo Pandas:

In [6]:
df['ints'].astype(float)

0    1.0
1    2.0
2    3.0
3    4.0
Name: ints, dtype: float64

In [7]:
df['floats'].round()

0     2.0
1    14.0
2    97.0
3     0.0
Name: floats, dtype: float64

In [8]:
df['strings'].str.upper()

0        HELLO
1         AHOJ
2    GUTEN TAG
3      BONJOUR
Name: strings, dtype: object

In [9]:
df['strings'].str.len()

0    5
1    4
2    9
3    7
Name: strings, dtype: int64

Co ale složitější funkce? Jak zavolat funkci na každý prvek sloupce?

In [10]:
body = pandas.DataFrame({'body': [random.randint(0,100) for _ in range(30)]})
body.head()

   body
0     5
1    79
2    56
3    24
4    33

Chtěli bychom přidat sloupec `prospel/a`, jehož obsahem bude `Ano`, pokud žák získal z písemky alespoň 40 bodů, nebo `Ne`, pokud nikoliv.

In [11]:
def prospech(body: int) -> str:
    if body >= 40:
        return "Ano"
    else:
        return "Ne"

In [12]:
body["prospel/a"] = body["body"].apply(prospech)
body.head()

   body prospel/a
0     5        Ne
1    79       Ano
2    56       Ano
3    24        Ne
4    33        Ne

### Cvičení
Dataset `rodna_cisla.csv` obsahuje anonymizované informace o pacientech. Má dva sloupce, jeden je identifikační číslo pacienta a druhý je rodné číslo pacienta.

In [13]:
pacienti = pandas.read_csv('rodna_cisla.csv')
pacienti

    ID pacienta  RC pacienta
0           953  736127/2341
1           665  765905/7224
2           269  946014/3816
3           169  536101/4656
4           306  576202/6992
..          ...          ...
75          889  770927/4368
76          511  926002/6029
77          329  625914/4300
78          550  536220/9301
79          966  721307/7395

[80 rows x 2 columns]

* Napiš funkci, která převede rodné číslo ve formátu `"'736127/2341'"` na datum narození ve formátu `"27.11.1973"`. Můžeš předpokládat, že nejvyšší rok je 1999 (tj. pokud RČ začíná `21`, jedná se o rok 1921, nikoliv 2021).
* Následně funkci zavolej na každý prvek sloupce `RC pacienta` pomocí `apply` a vytvoř tak nový sloupec, `Datum narozeni pacienta`

In [26]:
def preved_rc_na_datum_narozeni(rodne_cislo: str) -> str:
    den=rodne_cislo[4:6]
    mesic=int(rodne_cislo[2:4])
    rok=rodne_cislo[0:2]
    if mesic > 50:
        mesic=mesic - 50
    return f'{den}.{mesic}.19{rok}'

In [27]:
preved_rc_na_datum_narozeni('736127/2341')

'27.11.1973'

In [29]:
pacienti['Datum narozeni pacienta'] = pacienti["RC pacienta"].apply(preved_rc_na_datum_narozeni)
pacienti.head()

   ID pacienta  RC pacienta Datum narozeni pacienta
0          953  736127/2341              27.11.1973
1          665  765905/7224               05.9.1976
2          269  946014/3816              14.10.1994
3          169  536101/4656              01.11.1953
4          306  576202/6992              02.12.1957

### Cvičení
Dataset `reviews.tsv` (zdroj: https://www.kaggle.com/datasets/vigneshwarsofficial/reviews) obsahuje jednovětné recenze restaurací, spolu s informací, jestli se náštěvníkovi v restauraci líbilo nebo ne.

In [33]:
reviews = pandas.read_csv("reviews.tsv", sep="\t")
reviews

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

* Napiš funkci, která spočítá počet slov v textu. Slova v textu jsou oddělená mezerami. Nápověda: `split()`
* Následně funkci zavolej na každý prvek sloupce `Review` pomocí `apply` a vytvoř tak nový sloupec, `Num words`.

In [41]:
def get_num_words(text: str) -> int:
    slovo=text.split(" ")
    return len(slovo)

In [42]:
# get_num_words("Wow... Loved this place.")  # Otestuj, že tvoje funkce vrací správně pro tento vstup počet 4, podobně pro vstupy níže
# get_num_words("Ahoj") # 1 slovo
get_num_words("")  # 0 slov

1

In [ ]:
reviews["Num words"] = ...
reviews

Mají negativní recenze průměrně více nebo méně slov?

In [ ]:
reviews.groupby('Liked')['Num words'].mean()

In [ ]:
reviews.groupby('Liked').boxplot(column='Num words')