In [3]:
import pandas

In [4]:
jmena = pandas.read_csv("jmena2.csv")
studenti_1 = pandas.read_csv("studenti1.csv")
studenti_2 = pandas.read_csv("studenti2.csv")

In [5]:
# Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.
studenti = pandas.concat([studenti_1, studenti_2], ignore_index=True)

In [6]:
# Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?
len(studenti[studenti["ročník"].isna()])

33

In [7]:
len(studenti[studenti["kruh"].isna()])

27

In [39]:
# Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.
studenti = studenti.dropna(subset=["ročník", "kruh"])
# prezencni_studenti = studenti[(studenti["ročník"].isna()) | (studenti["kruh"].isna())]
# prezencni_studenti
# prezencni_studenti.shape

Empty DataFrame
Columns: [jméno, příjmení, obor, ročník, kruh, prospěch]
Index: []

In [40]:
studenti.groupby("obor").size()

obor
informatika a management    49
počítačová grafika          33
softwarové inženýrství      41
správa IT systémů           38
teoretická informatika      47
webové inženýrství          46
číslicová technika          33
dtype: int64

In [41]:
studenti.groupby("obor")["prospěch"].mean()

obor
informatika a management    2.088980
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
teoretická informatika      2.136809
webové inženýrství          2.079130
číslicová technika          2.047576
Name: prospěch, dtype: float64

In [42]:
pohlavi = pandas.read_csv("jmena2.csv")
studenti_pohlavi = pandas.merge(studenti, pohlavi, on="jméno")
studenti_pohlavi

,jméno,příjmení,obor,ročník,kruh,prospěch,četnost,věk,pohlaví,svátek,původ
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,72750,65,ž,16.9,slovanský
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,72750,65,ž,16.9,slovanský
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,72750,65,ž,16.9,slovanský
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,72750,65,ž,16.9,slovanský
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,293938,40,m,24.6. a 6.7,hebrejský
...,...,...,...,...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,76225,22,m,30.11,řecký
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,30984,55,m,24.9,slovanský
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,26299,23,ž,11.9,řecký
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,35863,37,ž,31.8,latinský
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,39600,22,ž,12.8,latinský

In [43]:
studenti_pohlavi.groupby("pohlaví").size()

pohlaví
m    117
ž    170
dtype: int64